
:root {
    --black: #3F403F;
    --gray: #6E7079;
    --dark-grey: #4e4e4e;
    --light-gray: #b3b3b3;
    --yellow: #F0B315;
    --white: #FAFAFA;
    --purple: #534A83;
    --light-purple: #e6e5ea;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.main-container{
    margin: 0 auto;
    background: var(--white);
}

.section-container {
    margin: 0 auto;
    max-width: 120rem;
}

/* start HEADER SECTION */
.header-section{
    background: var(--gray);
    /* position: fixed;*/
    z-index: 99;
    
}

header {
    height: 7rem;
    padding: 2rem 10rem;
    z-index: 99;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    color: var(--white);
}

nav span {
    display: block;
    font-size: 3rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

nav ul li {
    padding: 0 2rem;
}

nav ul li:last-child {
    padding-right: 0;
}

nav ul a {
    color: var(--white);
    text-decoration: none;
}

nav ul a:hover {
    color: var(--yellow);
}

.hamburger {
    position: relative;
    /* display: block; */
    width: 3.5rem;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    display: none;
}

.hamburger .ham-bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: .5rem;
    background: var(--white);
    /* border-radius: .5rem; */
    margin: .6rem 0;
    transition: .4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .ham-bar {
    opacity: 0;
}

.nav-mobile {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    min-height: 100vh;
    /* display: block; */
    z-index: 98;
    background: rgb(78, 78, 78, 0.95);
    padding-top: 12rem;
    transition: 0.4s;
    list-style: none;
    display: none;
}

.nav-mobile.is-active {
    left: 0;
}

.nav-mobile a {
    display: block;
    width: 100%;
    /* max-width: 20rem; */
    margin: 0 auto 1.6rem;
    text-align: center;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    color: var(--white);
    /* background: var(--dark-grey); */
}

.nav-mobile a:hover, .nav-mobile a:focus {
    background: var(--dark-grey);
    background: rgb(240, 179, 21, 0.1);
}
/* end HEADER SECTION */

/* start HERO SECTION */

.hero-section {
    margin: 0 auto;
    min-height: 65rem;
}

.hero-content {
    margin: 10rem 0;
    padding: 4rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content .hero-text {
    flex: 1;
    color: var(--dark-grey);
}

.hero-content .hero-img {
    flex: 1;
    width: 50rem;
    align-self: center;
}

.hero-content .hero-img img{
    max-width: 100%;
    align-self: center;
}

.hero-content .hero-text .name {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.hero-content .hero-text .title {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero-content .hero-text .interest {
    font-size: 3rem;
    font-weight: 300;
}

.button {
    margin: 1rem 0;
    padding: 1rem 2rem;
    background: var(--purple);
    border: 1px solid var(--purple);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    width: 50%;
}

.button a{
    color: var(--white);
    text-decoration: none;
}

.button:hover {
    background: rgb(83, 74, 131, .8);
}
.hero-button {
    padding: 2rem 4rem;
    margin: 3rem 0;
    font-size: 2rem;
    width: 60%;
}

.social-media-icons i {
    font-size: 3rem;
    color: var(--gray);
    margin: 0 2rem 2rem 0;
}

/* end HERO SECTION */

/* start ABOUT SECTION */
.about-section {
    margin: 0 auto;
    background: var(--yellow);
    position: relative;
}

.about-content, 
.section-content {
    padding: 10rem 10rem; 
    display: flex;
}

.section-heading, 
.section-side-heading {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: var(--dark-grey);
}

.section-heading {
    margin-bottom: 3rem;
}

.section-side-heading {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
    right: 0;
    font-size: 8rem;
    opacity: 8%;
}

.about-text, 
.skills-content, 
.portfolio-content, 
.contact-content {
    width: 90%;
    padding-right: 4rem;
}

.about-side, 
.skills-side, 
.portfolio-side, 
.contact-side {
    width: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.about-side > div {
    position: absolute;
    bottom: 0;
    right: 0;
}

.about-text p {
    font-size: 2rem;
    font-weight: 300;
    color:#4e4e4e;
    padding: 1rem 1rem 1rem 0;
}

/* end ABOUT SECTION */

/* start SKILLS SECTION */
.skills-icons-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
    padding: 3rem 1rem;
}

.skills-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-icons-wrapper .skills-icon i {
    font-size: 5rem;
    color: var(--dark-grey);
}

.skill-title {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    padding: 1rem;
}
/* end SKILLS SECTION */

/* start PORTFOLIO SECTION */
.portfolio-section {
    background: var(--light-purple);
}

.portfolio-grid-wrapper {
   display: grid;
   height: 100%;
   grid-template-columns: repeat(5, 1fr); 
   grid-template-rows: repeat(4, 1fr);
   grid-gap: 1rem;
   background: var(--yellow);
   padding: 1rem;
   margin-bottom: 4rem;
}

.grid-item {
    background: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--white);
    position: relative;
    z-index: 10;
    
    background-size: cover;
    background-blend-mode: multiply;
}

.grid-item a {
    display:block;
    width: 100%;
    background: var(--dark-grey);
    padding: 1rem;  
    text-decoration: none;
    color: var(--white);
    padding: 2rem 1rem;
}

.grid-item a:hover,
.grid-item a:focus {
    color: var(--yellow);
}

.medium-1 {
    grid-column: span 2;
    grid-row: span 2; 
    background-image: url('https://i.ibb.co/Y7LvvZD/udemy.png');
}

.medium-2 {
    grid-column: span 2;
    grid-row: span 2; 
    background-image: url('https://i.ibb.co/5nWTBmk/img-3-D-crossroads.png');
}

.large {
    grid-column: span 3;
    grid-row: span 3;
    background-image: url('https://i.ibb.co/5Yh35d1/books-api-app.png');
}

.wide{
    grid-column: span 3;
    grid-row: span 1;
    background-image: url('https://i.ibb.co/KrwThKq/portfolio.png'); 
}
/* end PORTFOLIO SECTION */

/* start CONTACT SECTION */
input, #textarea {
    padding: 1rem 2rem;
    background: var(--white);
    border: 1px solid var(--light-gray);
    outline: none;
    margin: .5rem 0;
    width: 80%;
}

.contact-form .button {
    width: 80%;
}

input::placeholder, textarea::placeholder{
    font-size: 1.6rem;
    color: var(--gray);
    opacity: 20%;
}

/* end CONTACT SECTION */

/* start FOOTER SECTION */
.footer-section {
    background: var(--gray);
}

.footer-socials i {
    font-size: 2rem;
    color: var(--white);
    margin: 0 1rem 1rem 0;
}

.footer-socials i {
    margin: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    padding: 2rem 10rem;
    /* outline: 1px solid red; */
}

.footer-text {
    color: var(--white);
    font-size: 1rem;
    text-align: center;
}
/* end FOOTER SECTION */


/* start PROJECT PAGES */

/* start PROJECT PAGES HEADER */
.project-pages .header-section {
    background: var(--white);
}

.project-pages nav,
.project-pages nav ul a
{
    color: var(--dark-grey);
}

.project-pages nav ul a:hover {
    color: var(--yellow);
}

.project-pages .hamburger .ham-bar, 
.project-pages .hamburger:after, 
.project-pages .hamburger:before {
    background: var(--dark-grey);
}
/* end PROJECT PAGES HEADER */

/* start PROJECT PAGES CONTENT */
.proj-page-content {
 margin-top: 4rem;
}

.project-pages .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-pages .project-text {
    padding-right: 3rem;
    color: var(--dark-grey);
}

.project-pages .project-text p {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    line-height: 4rem;
    padding: 2rem 2rem 3rem 0;
}
.project-page-title {
        font-size: 5rem;
        font-weight: 500;
}

.project-pages .project-text span {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 7rem;
}

.project-pages .project-text a {
    text-decoration: none;
    color: var(--dark-grey);
}

.proj-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proj-buttons .button {
    margin-right: 2rem;
}

.proj-buttons .button a {
    color: var(--white);
}

.project-img img {
    max-width: 50rem;
    border: none;
    padding-left: 2rem;
    filter: drop-shadow(1rem 1rem 3rem rgb(200, 200, 200));
}

.proj-page-content {
    min-height: 100vh;
}

/* end PROJECT PAGES CONTENT */


/* start PROJECT PAGES FOOTER */
.project-pages footer {
    background: var(--gray);
    height: 50rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10rem;
}

.project-pages .contact-content {
    padding: 0;
    width: 70%;
}

.project-pages footer input,
.project-pages footer #textarea
{
    background: var(--gray);
    color:  var(--white);
    letter-spacing: 0.08rem;
}

.project-pages footer input::placeholder,
.project-pages footer #textarea::placeholder {
    color: var(--light-gray);
}


.project-pages footer .button {
    background: var(--yellow);
    border: 1px solid var(--yellow);
    color: var(--dark-grey);
}

.project-pages footer .button:hover,
.project-pages footer .button:focus
 {
    background: rgb(240, 179, 21, .8);
}
.project-pages .footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.project-pages .footer-socials i{
    font-size: 3rem;
}

.project-pages .footer-text {
    display: block;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    margin-top: 14rem;
}
/* end PROJECT PAGES FOOTER */

/* end PROJECT PAGES */

/* start MEDIA QUERIES */

@media screen and (max-width: 768px){
    .nav-mobile {
        display: block;
    }

    .hamburger {
        display: block;
    }

    header {
        padding: 2rem;
    }
    
    nav ul {
        display: none;
    }

    .hero-content {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 2rem;
    }

    .flex-item {
        width: 100%;
    }

    .hero-img {
        width: 100%;
        align-self: center;
        padding: 2rem;
        max-width: 35rem;
        /* outline: 1px solid red; */
    }

    .hero-img img {
        width: 100%;
        align-self: center;
    }

    .hero-content 
    .hero-text {
        text-align: center;
    }

    .about-content, 
    .section-content {
        padding: 10rem 2rem; 
        flex-direction: column;
    }

    .about-text, 
    .skills-content, 
    .portfolio-content, 
    .contact-content {
        width: 100%;
        padding: 0;
    }

    .about-text {
        text-align: justify;
    }

    .section-side-heading {
        display: none;
        /* outline: 1px solid red; */
    }

    .grid-item {
        min-height: 30rem;
    }

    .medium-1,
    .medium-2 {
        grid-column: span 5;
        grid-row: span 2;
    }

    .large,
    .wide {
        grid-column: span 5;
        grid-row: span 2;
    }

    input, 
    #textarea,
    .contact-form .button {
        width: 100%;
    }

    /* PROJECT PAGES */
    .proj-page-content {
        margin-top: 0;
        min-height: 120vh;
    }

       .project-pages .section-content {
        flex-direction: column-reverse;
        padding: 2rem;
        margin-bottom: 4rem;
    }

    .project-pages .project-text {
        padding: 4rem 0;
    }

    .project-pages .project-text p {
        width: 100%;
        padding: 2rem 0;
    }

    .proj-buttons {
        flex-direction: column;
    }

    .proj-buttons .button {
        width: 100%;
        margin-right: 0;
    }

    .project-img img {
        max-width: 100%;
        padding: 2rem;
    }

    .project-pages footer {
        flex-direction: column;
        padding: 2rem;
    }

    .project-pages .contact-content {
        width: 100%;
    }

    .project-pages .footer-socials {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .project-pages .footer-text {
        padding: 2rem 0;
        margin-top: 0;
    }
}


/* end MEDIA QUERIES */





