
:root {
    --black: #3F403F;
    --gray: #6E7079;
    --dark-grey: #4e4e4e;
    --light-gray: #b3b3b3;
    --yellow: #F0B315;
    --white: #FAFAFA;
    --purple: #534A83;
    --yellow: rgb(240, 179, 21);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

html {
    font-size: 62.5%;
}

.main-container{
    margin: 0 auto;
    /* max-width: 120rem; */
    background: var(--white);
}

.section-container {
    margin: 0 auto;
    max-width: 120rem;
}

/* start HEADER SECTION */
.header-section{
    background: var(--gray);
    /* position: fixed;
    z-index: 1; */
}

header {
    height: 7rem;
    padding: 2rem 10rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    color: var(--white);
}

nav span {
    display: block;
    font-size: 2rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

nav ul li {
    padding: 0 2rem;
}

nav ul li:last-child {
    padding-right: 0;
}

nav ul a {
    color: var(--white);
    text-decoration: none;
}

nav ul a:hover {
    color: var(--yellow);
}
/* end HEADER SECTION */

/* start HERO SECTION */

.hero-section {
    margin: 0 auto;
    min-height: 65rem;
}

.hero-content {
    margin: 10rem 0;
    padding: 4rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* outline: 1px solid red; */
}

.hero-content .hero-text {
    flex: 1;
    color: var(--dark-grey);
    /* outline: 1px solid blue; */
}

.hero-content .hero-img {
    flex: 1;
    width: 5rem;
    justify-self:flex-end;
    outline: 1px solid blue;
}

.hero-content .hero-img img{
    max-width: 40rem;
    align-self: center;
}

.hero-content .hero-text .name {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.hero-content .hero-text .title {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero-content .hero-text .interest {
    font-size: 3rem;
    font-weight: 300;
}

button {
    margin: 1rem 0;
    padding: 1rem 2rem;
    background: var(--purple);
    border: 1px solid var(--purple);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    width: 50%;
}

button a{
    color: var(--white);
    text-decoration: none;
}

button a:hover{
    color: var(--yellow);
}
.hero-button {
    padding: 2rem 4rem;
    margin: 3rem 0;
    font-size: 1.8rem;
    width: 60%;
}

.social-media-icons i {
    font-size: 3rem;
    color: var(--gray);
    margin: 0 2rem 2rem 0;
}

/* end HERO SECTION */

/* start ABOUT SECTION */
.about-section {
    margin: 0 auto;
    background: var(--yellow);
    position: relative;
}

.about-content, .section-content {
    padding: 10rem 10rem; 
    display: flex;
}

.section-heading, .section-side-heading {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: var(--dark-grey);
    /* outline: 1px solid red; */
}

.section-heading {
    margin-bottom: 3rem;
}

.section-side-heading {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
    right: 0;
    font-size: 8rem;
    opacity: 8%;
    outline: 1px solid red;
}

.about-text, .skills-content, .portfolio-content, .contact-content {
    outline: 1px solid red;
    width: 90%;
    padding-right: 4rem;
}

.about-side, .skills-side, .portfolio-side, .contact-side {
    outline: 1px solid red;
    width: 10%;
    position: relative;
}

.about-side > div {
    position: absolute;
    bottom: 0;
    right: 0;
}

.about-text p {
    font-size: 2rem;
    font-weight: 300;
    color:#4e4e4e;
    padding: 1rem 1rem 1rem 0;
}

/* end ABOUT SECTION */

/* start SKILLS SECTION */
.skills-icons-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
    padding: 3rem 1rem;
}

.skills-icon {
    /* outline: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-icons-wrapper .skills-icon i {
    font-size: 5rem;
    color: var(--dark-grey);
}

.skill-title {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    padding: 1rem;
}
/* end SKILLS SECTION */

/* start PORTFOLIO SECTION */
.portfolio-section {
    background: var(--gray);
}

.portfolio-section h2 {
    color: var(--white);
}

.portfolio-grid-wrapper {
    padding: 1rem;
    outline: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background: var(--yellow);
    min-height: 40rem;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    max-height: 30rem;
    /* width: 100%; */
}

.portfolio-item img {
    max-height: 30rem;
    
}

.portfolio-item figcaption {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(240, 179, 21, .8);
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    transition: top ease-in-out 250ms;
}

.portfolio-item figcaption .project-name {
    font-weight: 500;
    font-size: 2.6rem;
    width: 40%;
    padding: 0 0 2rem 2rem;
}

.portfolio-item figcaption .project-link {
    font-weight: 300;
    font-size: 1.6rem;
    padding: 0 0 2rem 2rem;
    text-decoration: none;
    color: var(--dark-grey);
}

.portfolio-item figcaption:hover,
.portfolio-item figcaption:hover
 {
    top: 0;
}

/* #proj1 {
    
    background: purple;
}

#proj2 {
   
    background: blue;
}
#proj3 {
   
    background: red;
}
#proj4 {
   
    background: gray;
}

.portfolio-project {
    background: var(--white);
}

.proj-desktop {
    
}

.proj-desktop img {
    max-width: 44.3rem;
    border: none;
}

.proj-mobile img {
    max-width: 21.5rem;
    border: none;
} */

.proj-desktop img {
    max-width: 44.3rem;
    border: none;
}

.proj-mobile img {
    max-width: 21.5rem;
    border: none;
}
/* end PORTFOLIO SECTION */

/* start CONTACT SECTION */

.contact-form{
    
}
input, #textarea {
    padding: 1rem 2rem;
    background: var(--white);
    border: 1px solid var(--light-gray);
    outline: none;
    margin: .5rem 0;
    width: 80%;
}

.contact-form .button {
    width: 80%;
}

input::placeholder, textarea::placeholder{
    font-size: 1.6rem;
    color: var(--gray);
    opacity: 20%;
}

/* end CONTACT SECTION */

/* start FOOTER SECTION */
.footer-section {
    background: var(--gray);
    
}

.footer-socials i {
    font-size: 2rem;
    color: var(--white);
    margin: 0 1rem 1rem 0;
}

.footer-socials i {
    margin: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    padding: 2rem 10rem;
    /* outline: 1px solid red; */
}

.footer-text {
    color: var(--white);
    font-size: 1rem;
    text-align: center;
}
/* end FOOTER SECTION */

